.jumbotron {
  background-color: #104F5E;
  color: white;
  margin-top: 50px;
}

.card-hotel {
  /*Cuanto queremos que crezca flex 1 mantiene 150 es el ancho definido */
  flex: 1 250px;
  /*margen*/
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 20px;
  margin-bottom: 0px;
}

.btn-reserva {
  /*Ocupa todo el ancho*/
  width: 100%;
  border-radius: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #21D1FC;
  margin-top: 10px;
  margin-bottom: 0px;
}

body {
  background-color: #AED8D6;
}

.adress-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.btn-botoon {
  border-radius: 5px;
  margin-left: 15px;
}

/*# sourceMappingURL=styles.css.map */
