@azul: #104F5E;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @azul;
  color: white;
  margin-top: 50px; }

.card-hotel {
  /*Cuanto queremos que crezca flex 1 mantiene 150 es el ancho definido */
  flex: 1 250px;
  .margenes(20px, 0px);
 }
.btn-reserva {
  /*Ocupa todo el ancho*/
  width: 100%;
  border-radius: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #21D1FC;
  .margenes(10px, 0px)}

body {
  background-color: #AED8D6; }

.adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.btn-botoon {
  border-radius: 5px;
  margin-left: 15px; }
